<article class="article">
  <img class="article__img" src="@@articleImg" alt="@@articleTitle" width="165" height="225"/>
  <div class="article__block">
    <h3 class="article__title">@@articleTitle</h3>
    <time class="article__pubdate" datetime="@@articlePubdate">@@articlePubdate</time>
    <p class="article__text">@@articleText</p>
    <div class="article__rating">
			@@include('../../img/svg/Star.svg')
			@@include('../../img/svg/Star.svg')
			@@include('../../img/svg/Star.svg')
			@@include('../../img/svg/Star.svg')
			@@include('../../img/svg/Star.svg')
		</div>
  </div>
</article>
<!-- ./article -->
