<ul class="clients">
  <li class="clients__item">
    <img class="clients__img" src="img/clients/clients--Amazon-logo.png" alt="Amazon-logo" width="159" height="99" />
  </li>
  <li class="clients__item">
    <img class="clients__img" src="img/clients/clients--Alibaba-logo.png" alt="Alibaba-logo" width="176" height="99" />
  </li>
  <li class="clients__item">
    <img class="clients__img" src="img/clients/clients--Group-logo.png" alt="Group-logo" width="117" height="67" />
  </li>
</ul>
<!-- ./clients -->
