<div class="menu">
  <div class="menu__icon">
    <span></span>
  </div>
  <!-- ./menu__icon -->
  <nav class="menu__body">
    <ul class="menu__list">
      <li class="menu__item">
        <a class="menu__link" href="#intro" data-scrollTo="#intro" rel="noreferrer">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#about" data-scrollTo="#about" rel="noreferrer">About</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#service" data-scrollTo="#service" rel="noreferrer">Service</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#furniture" data-scrollTo="#furniture" rel="noreferrer">Furniture</a>
      </li>
      <li class="menu__item">
        <div class="menu__link btn">@@include('../_btn/_btn.html', {"btnText" : "Order Now"})</div>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#" data-scrollTo="#" rel="noreferrer">
          <img class="btn--search" src="../img/svg/Search.svg" alt="Search" width="30" height="30" />
        </a>
      </li>
    </ul>
    <!-- ./menu__list -->
  </nav>
  <!-- ./menu__body -->
</div>
<!-- ./menu -->
