/* header */

@import "../_logo/logo";
@import "../_menu/menu";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  color: $dark-color;
  background-color: transparent;
  text-align: center;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;

    @media (min-width: 768px) {
      padding: 0;
    }
  }

  &__logo {
    z-index: 5;
  }

  &__menu {
  }

  &--sticky {
    padding: 5px 0;
    box-shadow: $box-shadow;
    background-color: $third-color;

    & > .container > .menu > .menu__body::before {
      height: 30px;
    }

    & > .container {
      padding: 0;
    }
  }
}
