/* footer */

.footer {
  margin-top: 120px;
  color: $light-color;
  background-color: $first-color;

  &__container {
    @include container;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: 576px) {
      flex-direction: row;
			justify-content: space-between;
    }
  }

  &__info {
  }

  &__social {
    margin-bottom: 40px;

    & > .social > .social__item {
      width: 20px;
      height: 20px;
      margin: 10px;
    }
  }

  &__links,
  &__faq,
  &__newsletter {
    

    @media (min-width: 576px) {
      margin: 0 75px;
    }
  }

  &__links {
  }

  &__faq {
  }

  &__newsletter {
  }

  &__title {
    margin-bottom: 30px;

    & > .logo > .logo__link {
      color: $light-color;
    }
  }

  &__item {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    min-height: 35px;
    @include btn(1.1);
  }

  &__link {
    display: block;
    min-height: 32px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 32px;

    &--mail {
      background-image: url("../../img/svg/Phone.svg");
      padding-top: 5px;
      padding-left: 40px;
    }
    &--phone {
      background-image: url("../../img/svg/Mail.svg");
      padding-top: 5px;
      padding-left: 40px;
    }
  }

  &__list {
  }

  &__contacts {
  }

  &__form {
  }
  &__search {
    min-width: 180px;
		max-width: 90%;
    height: 40px;
    padding: 10px;
    color: $dark-color;
    background-color: $light-color;
    border-radius: 5px;
  }

  &__button {
    color: $dark-color;
    background-color: $light-color;

    &--send {
      box-shadow: none;
    }
    &--app {
      width: 170px;
      height: 40px;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      box-shadow: none;
      margin-top: 40px;
      color: $dark-color;
      text-align: center;
    }
  }
}
