<ul class="statistic" id="statistic">
  <li class="statistic__item">
    <h2 class="statistic__title">120 k</h2>
    <p class="statistic__text">Furniture Sale</p>
  </li>
  <li class="statistic__item">
    <h2 class="statistic__title">98 k</h2>
    <p class="statistic__text">
      Review
      <span class="statistic__star star">@@include('../_star/Star.svg')</span>
      (4.5)
    </p>
  </li>
  <li class="statistic__item">
    <h2 class="statistic__title">125</h2>
    <p class="statistic__text">Furniture Categories</p>
  </li>
</ul>
<!-- ./statistic -->
