/* service */
.service {
  margin-top: 120px;

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 45px;

    @media (min-width: 576px) {
      margin-left: 9rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @media (min-width: 576px) {
      flex-direction: row;
    }
  }

  &__item {
    margin: 15px;
  }
}
