@mixin font-face($name, $file, $weight: 400, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src: local("#{$file}"), url("../fonts/#{$file}.woff2") format("woff2"), url("../fonts/#{$file}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin container($max-width: "120rem", $padding: "2rem") {
  width: 100%;
  max-width: #{$max-width};
  padding: 0 #{$padding};
  margin: 0 auto;
}

@mixin btn_anim {
  transition: all 0.5s linear;

  &:hover,
  &:active,
  &:focus {
    transform: scale(1.1);
  }
}

@mixin bg($size: "contain", $position: "center") {
  background-size: #{$size};
  background-position: #{$position};
  background-repeat: no-repeat;
}

@mixin no-btn($display: "block") {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  border-radius: 0;
  cursor: pointer;
  display: #{$display};
  // appearance: none;
}

@mixin btn($scale: 0.9) {
  transition: all 0.5s linear;

  &:hover,
  &:active,
  &:focus {
    transform: scale($scale);
  }
}

// @mixin btn_anim($scaleMax: 1.05, $scaleMin: 0.95) {
//   transform-origin: center center;
//   transition: all ease-out 240ms;

//   &:hover {
//     transform: scale(#{$scaleMax});
//   }

//   &:focus {
//     outline: transparent;
//   }

//   &:focus-visible {
//     transform: scale(#{$scaleMax}) translateY(-5%);
//   }

//   &:active {
//     transform: scale(#{$scaleMin});
//   }
// }

// @mixin transit($tr: 0.5) {
//   transition: all #{$tr}s linear;
// }
