<ul class="social">
  <li class="social__item">
    <a class="social__link" href="#" data-scrollTo="#" rel="noreferrer">
      <img class="social__img" src="img/social/social--facebook.svg" alt="facebook" width="30" height="30" />
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#" data-scrollTo="#" rel="noreferrer">
      <img class="social__img" src="img/social/social--instagram.svg" alt="instagram" width="30" height="30" />
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#" data-scrollTo="#" rel="noreferrer">
      <img class="social__img" src="img/social/social--twitter.svg" alt="twitter" width="30" height="30" />
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#" data-scrollTo="#" rel="noreferrer">
      <img class="social__img" src="img/social/social--in.svg" alt="insocial--in.svg" width="30" height="30" />
    </a>
  </li>
</ul>
<!-- ./social -->
